<!DOCTYPE html>
<html>
    <head>
        <title>Sleep Study</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://gstatic.com" crossorigin>
        <link href="https://googleapis.com" rel="stylesheet">

        <link rel="stylesheet" href="../CSS design/UI.css">
        <link rel="stylesheet" href="../CSS design/About.css">
        <link rel="stylesheet" href="../CSS design/Habits.css">
        <link rel="stylesheet" href="../css/all.min.css">        
    </head>
    <body>
        <div> <!-- header-->
                <div class="ulo">
                    <div class="logo">
                        <img src="../CSS design/Media3.png" alt="Company Logo">
                    </div>
                    <nav>
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about-study">About Study</a></li>
                            <li><a href="#sleep-habits">Sleep Habits</a></li>
                            <li><a href="#performance">Performance</a></li>
                            <li><a href="#findings">Findings</a></li>
                            <li><a href="#about">About Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        <!-- Mostly done-->
        <div class="main-page">            
            

            <div class="explore"> <!-- Image header-->
                <div class="text-side">
                    <div class="te">How does Sleep Affect Academic Performance?</div>
                    <div class="te2">Exploring the relationship between students' sleep habits and their academic perfomance.</div>
                </div>

                <div class="but-sel">
                    <button class="ab-button">Explore the Study  <i class="fa-solid fa-arrow-right-long"></i></i></button>
                    <button class="re-button">View Results</button>
                </div>
            </div>  

            <div class="cards"> <!-- icons-->
                <div class="card">
                    <i class="fa-solid fa-bed ico"></i>
                    <div class="t">Sleep Habits</div>
                    <div class="t2">Understand sleep habits</div>
                </div>
                <div class="card">
                    <i class="fa-solid fa-graduation-cap ico"></i>
                    <div class="t">Academic Performance</div>
                    <div class="t2">Explore how sleep habits relate to grades</div>
                </div>
                <div class="card">
                    <i class="fa-solid fa-book-bookmark ico"></i>
                    <div class="t">Research</div>
                    <div class="t2">View the findings and insigths</div>
                </div>
            </div>

            <div class="bott">
                <i class="fa-solid fa-diamond"></i>
                <div class="t">Better Sleep</div>
                <i class="fa-solid fa-arrow-right-long"></i></i>
                <div class="t">Better Learning</div>
                <i class="fa-solid fa-arrow-right-long"></i></i>
                <div class="t">Brighter Future</div>
                <i class="fa-solid fa-diamond"></i>
            </div>
        </div>            

        <!-- Almost -->
        <div class="about-study-page">
            <div class="te">About the Study</div>
            <div class="te2">Understand how sleep habits influence academic success.</div>
                    
            <div class="aboutst">
                <div class="card3">
                    <div>
                        <div class="icc">
                            <i class="fa-solid fa-file-lines fee"></i>
                        </div>
                    </div>
                    <div class="vline"></div>
                    <div class="ab-te">
                        <div class="t">Research Background</div>
                        <div class="t2">Students’ sleeping habits are often affected by academic pressure, 
                            deadlines, and technology use. Many students sacrifice their 
                            recommended 7–9 hours of sleep to complete schoolwork and meet 
                            academic demands. Although this may help them keep up with their 
                            studies, consistently getting less sleep can lead to unhealthy 
                            sleep patterns and poorer sleep quality.</div>
                        </div>
                    

                </div>

                <div class="card3">
                    <div>
                        <div class="icc">
                            <i class="fa-solid fa-crosshairs fee"></i>
                        </div>                        
                    </div>
                    <div class="vline"></div>
                    <div class="ab-te">
                        <div class="t">Research Objectives</div>
                        <div class="t2">
                            <ol>
                                <li>To develop a web-based platform that 
                                    visually displays students' sleep habits 
                                    and academic performance data, enabling 
                                    users to easily track, interpret, and 
                                    understand patterns in their sleep behavior over time.
                                </li>
                                <li>To analyze and present the relationship between sleep patterns 
                                    and academic performance through the platform, using clear, 
                                    accessible visual representations (e.g., charts, trends, summaries) 
                                    that help students recognize how their sleeping habits may be 
                                    influencing their academic outcomes.
                                </li>
                                <li>To raise student awareness of healthy sleep practices 
                                    by providing evidence-based information and personalized data 
                                    insights through the platform, encouraging greater engagement 
                                    in monitoring and improving their own sleep habits.
                                </li>
                            </ol>
                        </div>                        
                    </div>
                </div>
                <div class="card3">
                    <div>
                        <div class="icc">
                            <i class="fa-solid fa-file-circle-question fee"></i>
                        </div>
                    </div>
                    <div class="vline"></div>
                    <div class="ab-te">
                        <div class="t">Research Gap</div>
                        <div class="t2">Most studies on student sleep focus on 
                            identifying problems rather than providing practical solutions. 
                            Research among Filipino college students found that students may 
                            get sufficient sleep duration but still experience poor sleep quality 
                            (Estacio et al., 2025). This study aims to bridge that gap by developing a
                             web system that visually presents students’ sleep data and provides
                              personalized recommendations, such as reducing late-night phone
                               use and avoiding staying up late.</div>
                        </div>
                    </div>
                <div class="card3">
                    <div>
                        <div class="icc">
                            <i class="fa-solid fa-lightbulb fee"></i>
                        </div>
                    </div>
                    <div class="vline"></div>
                    <div class="ab-te">
                        <div class="t">Importance of the Study</div>
                        <div class="t2">This study is important because it helps students
                             understand how their sleeping habits may affect their thoughts, 
                             emotions, and academic performance. The proposed website provides 
                             an easy-to-understand way for students to analyze their sleep
                              habits and receive practical recommendations for improvement.</div>
                    </div>
                </div>
            </div>

            
        </div>

        <!-- Marami pa-->
        <div class="habits-page">
            <div>
                <div class="hab">Sleep Habits</div>
                <div class="hab2">An overview of sleeping habits of the students</div>
                <div class="sleep-hab">
                    <div class="card4">
                        <i class="fa-solid fa-bed fer"></i>
                        <div class="t">Average Sleep Duration</div>
                        <div class="t2">8hrs 37mins</div>
                        <div class="t3">per night</div>
                    </div>
                    <div class="card4">
                        <i class="fa-regular fa-clock fer"></i>
                        <div class="t">Average Bedtime</div>
                        <div class="t2">01:25 AM</div>
                        <div class="t3">(most common)</div>
                    </div>
                    <div class="card4">
                        <i class="fa-regular fa-sun fer"></i>
                        <div class="t">Average Wakeup Time</div>
                        <div class="t2">09:19 AM</div>
                        <div class="t3">(most common)</div>
                    </div>
                </div>
            </div>

             <div>
                <div class="hab3">Other Sleep Habits</div>
                <div class="sleep-hab">
                    <div class="card5">
                        <i class="fa-regular fa-face-tired fer"></i>
                        <div class="t">Poor Sleep Quality</div>
                        <div class="t2">6.26</div>
                        <div class="t3">average score which is high</div>
                    </div>

                    <div class="card5">
                        <i class="fa-solid fa-wine-bottle fer"></i>
                        <div class="t">Alchohol Use</div>
                        <div class="t2">Moderate</div>
                        <div class="t3">Balanced or social consumption</div>
                    </div>

                    <div class="card5">
                        <i class="fa-solid fa-mug-hot fer"></i>
                        <div class="t">Lark vs Owl</div>
                        <div class="t2">Neither</div>
                        <div class="t3">Flexible sleep-wake pattern</div>
                    </div>
                </div>
            </div>

        </div>

        <!-- nonestarted -->
        <div class="perfomance">

        </div>
        

        <!-- none started-->
        <div class="findings-page">

        </div>
        
        



    </body>
</html>