<!DOCTYPE html>
<html>
    <head>
        <title>Sleep Study</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://gstatic.com" crossorigin>
        <link href="https://googleapis.com" rel="stylesheet">

        <link rel="stylesheet" href="../CSS design/UI.css">
        
        <link rel="stylesheet" href="../css/all.min.css">        
    </head>
    <body>
        <section class="header-section"> <!-- header-->
            <div class="ulo">
                <div class="logo">
                    <img src="../CSS design/Media3.png" alt="Company Logo">
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html#home">Home</a></li>
                        <li><a href="study.html#about-study">About Study</a></li>
                        <li><a href="study.html#sleep-habits">Sleep Habits</a></li>
                        <li><a href="study.html#performance">Performance</a></li>
                        <li><a href="study.html#findings">Findings</a></li>
                        <li><a href="study.html#about">About Us</a></li>
                    </ul>
                </nav>
            </div>
        </section>

        <!-- Mostly done-->
        <section id="home" class="main-page">            
            

            <div class="explore"> <!-- Image header-->
                <div class="text-side">
                    <div class="te">How does Sleep Affect Academic Performance?</div>
                    <div class="te2">Exploring the relationship between students' sleep habits and their academic perfomance.</div>
                </div>

                <div class="but-sel">
                    <button
                        class="ab-button"
                        onclick="window.location.href='study.html#about-study'">
                        Explore the Study
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </button>

                    <button
                        class="re-button"
                        onclick="window.location.href='study.html#performance'">
                        View Results
                    </button>
                </div>
            </div>  

            <div class="cards"> <!-- icons-->
                <div class="card">
                    <i class="fa-solid fa-bed ico"></i>
                    <div class="t">Sleep Habits</div>
                    <div class="t2">Understand sleep habits</div>
                </div>
                <div class="card">
                    <i class="fa-solid fa-graduation-cap ico"></i>
                    <div class="t">Academic Performance</div>
                    <div class="t2">Explore how sleep habits relate to grades</div>
                </div>
                <div class="card">
                    <i class="fa-solid fa-book-bookmark ico"></i>
                    <div class="t">Research</div>
                    <div class="t2">View the findings and insigths</div>
                </div>
            </div>

            <div class="bott">
                <i class="fa-solid fa-diamond"></i>
                <div class="t">Better Sleep</div>
                <i class="fa-solid fa-arrow-right-long"></i></i>
                <div class="t">Better Learning</div>
                <i class="fa-solid fa-arrow-right-long"></i></i>
                <div class="t">Brighter Future</div>
                <i class="fa-solid fa-diamond"></i>
            </div>
        </section>          

         
    </body>
   
    <script src="../Js/app.js"></script>
</html>
