<!DOCTYPE html>
<html>
    <head>
        <title>Sleep Study</title>
        <link rel="stylesheet" href="../CSS/UI.css">
    </head>
    <body>
        <div> <!-- header-->
            <div class="ulo">
                <div class="logo">
                    <img src="../CSS/Media3.png" alt="Company Logo">
                </div>
                <nav>
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about-study">About Study</a></li>
                        <li><a href="#sleep-habits">Sleep Habits</a></li>
                        <li><a href="#performance">Performance</a></li>
                        <li><a href="#findings">Findings</a></li>
                        <li><a href="#about">About Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="explore"> <!-- Image header-->
            <div>How does Sleep Affect Academic Performance?</div>
        </div>

        <div> <!-- header-->

        </div>



    </body>
</html>