
/* 
========================================
            ABOUT STUDY PAGE
========================================
*/
.about-study-page {
    margin-top: 100px;
}

.aboutst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    row-gap: 40px;
}

.vline {
    border-left: 2px solid #071d5e42; /* Sets the line thickness and color */
    height: auto;
                  /* Sets the length of the line */
    display: inline-block;       /* Allows text or items to sit next to it */
    margin: 10px 0px 10px 0px;
}

.card3 {
    margin: auto;
    border: 1px solid #c9defa;
    border-radius: 18px;
    background: rgb(255 255 255 / 92%);
    box-shadow: 0 10px 30px rgb(46 105 180 / 8%);
    height: auto;
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.icc {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #daeffd;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fee {
    font-size: 50px;
}

.ab-te {
    width: 70%;
    margin: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.ab-te .t {    
    color: #071D5E;
    font-size: 23px;
    font-weight: bold;
}

.ab-te .t2 {
    color: #5f7da6;
    margin-top: 1%;
    line-height: 1.5;
    font-size: 18px;
}

.t2 ol {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.about-study-page .te {
    margin: 0% 0% 0% 10%;
    font-size: 50px;
    color: #071D5E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.about-study-page .te2 {
    margin: 0.5% 0% 2% 10%;
    font-size: 20px;
    color: #071D5E;
    font-family: Arial, Helvetica, sans-serif;
    
}

