

/* 
========================================
            HABITS PAGE
========================================
*/
.habits-page {
    height: 1000px;
}

.sleep-hab {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}

.card4 {
    margin-top: 50px; 
    height: 300px;
    width: 320px;
    background-color: #E4ECFD;
    border: 1px solid #dbe6f2;
    box-shadow: 0 10px 30px rgb(46 105 180 / 8%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    
}

.card5 {
    margin-top: 50px; 
    height: 260px;
    width: 320px;
    background-color: #f7faff;
    border: 1px solid #dbe6f2;
    border-radius: 20px; 
    box-shadow: 0 10px 30px rgb(46 105 180 / 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.fer {
    font-size: 70px;
    color: #1e247d;
}

.card4 .t {
    font-weight: bold;
    font-size: 20px;
    color: #1e247d;
}

.card4 .t2 {
    font-weight: bolder;
    font-size: 30px;
    color: #1e247d;
    
}

.card4 .t3 {
    color: #242863;
    font-size: 18px;
}

.card5 .t {
    font-weight: bold;
    font-size: 20px;
    color: #1e247d;
}

.card5 .t2 {
    font-weight: bolder;
    font-size: 30px;
    color: #1e247d;
    
}

.card5 .t3 {
    color: #242863;
    font-size: 18px;
}

.hab {    
    margin-left: 220px;
    color: #242863;
    font-size: 50px; 
    font-weight: bold;
}

.hab3 { 
    margin-left: 220px;
    margin-top: 100px;    
    font-weight: bold;
    
    color: #242863;
    font-size: 30px; 
}   

.hab2 {   
    margin-top: 5px; 
    margin-left: 220px;
    color: #242863;
    font-size: 20px;     
}

.card4:hover {
    scale: 1.05;
    transition: 0.15s ease-in-out; 
}

.card5:hover {
    scale: 1.05;
    transition: 0.15s ease-in-out; 
}


