body {
    margin: 0;
}


.ulo {
    display: flex;
    color: #fff;
    align-items: center;
    background-color: #071D5E;
    font-size: 22px;
    height: 80px;
}

.ulo a {
    color: #fff;
    text-decoration: none;    
}

nav ul {
    color: #fff;
  display: flex;
  list-style: none; /* Removes bullet points */
  margin: 0;
  padding: 0;
  gap: 25px; /* Creates spacing between each link item */
  
}

/* Float Left Effect: Pushes Navigation to the left, right next to the logo */
nav {
    margin-left: auto;
    margin-right: 30px;
}

.logo img {    
    height: 70px;
    width: auto;
    margin-left: 20px;
}

.explore {
    display: flex;
    height: 600px;
    width: auto;
    background-image: url("../css/bg.jpg");
    background-size: cover;
    background-position: center;
}